*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    padding-top: 80px;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: black;
}
h2{
    font-size: 46px;
    line-height: 54px;
    color: black;
}
h4{
    font-size: 20px;
    /* line-height: 54px; */
    color: black;
}
h6{
    font-weight: 700;
    font-size: 12px;
}
.section-p1{
    padding: 40px 80px;
}
.section-m1{
    margin: 40px 0;
}
button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: black;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

/* header  */
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 40px;
    background-color: rgb(229, 228, 239);
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.06);
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;

}

#navbar li{
    list-style: none;
    padding: 0 25px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: black;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active{
    color: #49a5a2;

}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: '';
    width: 25%;
    height: 2px;
    background-color:  rgb(97, 175, 175);;
    position: absolute;
    bottom: -4px;
    left: 25px;
}
#navbar .bag-item-count{
    text-align: center;
    white-space: nowrap;
    line-height: 18px;
    padding: 0 6px;
    height: 18px;
    position: relative;
    border-radius: 50%;
    font-size: 12px;
    top: -5px;
    right: 10px;
    cursor: pointer;
    color: #ff0404;
}


/* homepage */
#hero{
    background-image: url(image/hero4.png);
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4{
    padding-bottom: 8px;
}
#hero h2{
    padding-bottom: 7px;
}
#hero h1{
    color: #49a5a2;
}
#hero button{
    background-image: url(image/button.png);
    background-color: transparent;
    color: #49a5a2;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
    margin-top: 15px;
}

/* feature box */
#feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.05);
    border: 1px solid whitesmoke;
    border-radius: 4px;
    margin: 15px 0;
}

#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.01);
}

#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .fe-box h6{
    display: inline-block;
    color: #49a5a2;
    background-color: antiquewhite;
    padding: 9px 8px 8px 8px;
    line-height: 1px;
    border-radius: 4px;
}

#feature .fe-box:nth-child(2) h6{
    background-color: rgb(228, 192, 192);
}
#feature .fe-box:nth-child(3) h6{
    background-color: rgb(193, 230, 178);
}
#feature .fe-box:nth-child(4) h6{
    background-color: rgb(223, 219, 247);
}
#feature .fe-box:nth-child(5) h6{
    background-color: rgb(220, 210, 225);
}
#feature .fe-box:nth-child(6) h6{
    background-color: rgb(238, 193, 193);
}

#feature .fe-box img{
    width: 100%;
    margin-bottom: 10px;
}

/* product 1 */
#product1{
    text-align: center;
}
#product1 p{
    color: #b0b0b0;
}

#product1 .pro-container,
.pro-container1,
.pro-container2{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgb(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.03 ease;
    position: relative;
}
#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}
#product1 .pro .des span{
    color: rgb(158, 158, 158);
}
#product1 .pro .des h5{
    padding-top: 7px;
    color: #323232;
}
#product1 .pro .des i{
    font-size: 15px;
    color: gold;
}
#product1 .pro .des h4{
    font-size: 15px;
    padding-top: 7px;
    font-weight: 700;
    color: #49a5a2;
}

#product1 .pro .cart{
    height: 40px;
    width:  40px;
    line-height: 40px;
    border-radius: 50px;
    font-weight: 500;
    color: #49a5a2;
    background-color: #ebebeb;
    border: 1px solid #ccc;
    position: absolute;
    bottom: 15px;
    right: 10px;
}

#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgb(0, 0, 0, 0.06);
}

#product1 .pro img{
    width: 100%;
    border-radius: 20px;
}


/* banner */
#banner{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(image/banners/b2.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

#banner h4{
    color: white;
    font-size: 16px;
}
#banner h2{
    color: white;
    font-size: 30px;
    padding: 10px 0;
}
#banner h2 span{
    color: red;
}

#banner button{
    box-shadow: 20px 20px 30px rgba(255, 255, 255, 0.34);
}
#banner button:hover{
    color: white;
    background-color: #49a5a2;
    box-shadow: 20px 20px 30px rgba(255, 255, 255, 0.03);
}

/* sm-banner */
#sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(image/banners/b17.jpg);
    min-width: 580px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
    margin-bottom: 20px;
}
#sm-banner .banner-box2{
    background-image: url(image/banners/b10.jpg) ;
}

#sm-banner h4{
    color: white;
    font-size: 20px;
    font-weight: 300;
}
#sm-banner h2{
    color: white;
    font-size: 30px;
    font-weight: 700;
}
#sm-banner span{
    color: white;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}

button.white{
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: rgb(255, 255, 255);
    background-color: transparent;
    border: 1px solid white;
    cursor: pointer;
    outline: none;
    transition: 0.2s;
}

#sm-banner .banner-box:hover button{
    background-color: #49a5a2;
    border:1px solid #49a5a2;
}

/* banner3 */
#banner3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 80px;
}

#banner3 .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(image/banners/b7.jpg);
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
}

#banner3 .banner-box2{
    background-image: url(image/banners/b4\ \(1\).jpg);
}
#banner3 .banner-box3{
    background-image: url(image/banners/b18.jpg);
}
#banner3 h2{
    color: white;
    font-weight: 900;
    font-size: 22px;
}
#banner3 h3{
    color: rgb(255, 0, 0);
    font-weight: 800;
    font-size: 15px;
}

/* newletters */

#newletters{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(image/banners/b14.png);
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
    
}
#newletters h4{
    font-size: 22px;
    font-weight: 700;
    color: white;
}
#newletters p{
    font-size: 14px;
    font-weight: 600;
    color: rgb(147, 147, 147);
}
#newletters p span{
    color: rgba(255, 149, 0, 0.751);
}

#newletters input{
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#newletters button{
    background-color: #49a5a2;
    white-space: nowrap;
    color: white;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
#newletters .form{
    display: flex;
    width: 40%
}


/* footer */
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    padding-left: 50px;
}
footer .logo{
    margin-bottom: 30px;
}

footer h4{
    padding-bottom: 20px;
    font-size: 14px;

}

footer p{
    margin: 0 0 8px 0;
    font-size: 13px;
    color: #585858;
}
footer a{
    font-size: 13px;
    text-decoration: none;
    color: #7e7c7c;
    margin-bottom: 10px;
}

footer .follow{
    margin-top: 20px;
}
footer .follow i{
    color: #7e7c7c;
    padding-right: 4px;
}
footer .colinstall .row img{
    border: 1px solid #49a5a2;
    border-radius: 6px;
}

footer .colinstall img{
    margin: 10px 0 15px 0;
}

footer a:hover{
    color: #49a5a2;
}

footer .col i:hover{
    color: #49a5a2;
}
footer .copyright{
    width: 100%;
    text-align: center;
}


/* ********************shop-banner*********************/

#shop-banner{
    background-image: url(image/banners/b1\ \(1\).jpg);
    width: 100%;
    height: 40vh;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
#shop-banner h1,p{
    color: white;
}

/* pagination */

#pagination{
    text-align: center;
    text-decoration: none;
}
#pagination a{
    text-decoration: none;
    background-color: #49a5a2;
    color: white;
    padding: 15px 20px ;
    border: 1px solid rgb(89, 89, 89);
    border-radius: 4px;
    transition: 0.3s ease;
}

#pagination a:hover{
    border: none;
}

/* single-image */
#pro-details{
    display: flex;
    margin-top: 20px;
}

#pro-details .single-pro-image{
    width: 40%;
    margin-right: 50px;
}
.small-img-group{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

#pro-details .single-pro-details{
    width: 50%;
    padding-top: 20px;
}
#pro-details .single-pro-details h4{
    padding: 40px 0 20px 0;
}
#pro-details .single-pro-details h2{
    font-size: 26px;
}

#pro-details .single-pro-details select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}
#pro-details .single-pro-details input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}
#pro-details .single-pro-details input:focus{
    outline: none;
}
#pro-details .single-pro-details button{
    background-color: #49a5a2;
    border: 1px solid rgb(87, 86, 86);
}
#pro-details .single-pro-details button:hover{
    color: white;
    border: 1px solid white;
}
#pro-details .single-pro-details span{
    line-height: 25px;
    color: #585858;
}


/***********************cart page********************/
/* cart-banner */
#cart-banner{
    background-image: url(image/banners/banner.png);
    width: 100%;
    height: 40vh;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
#cart-banner h1,p{
    color: white;
}


#cart table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}
#cart table img{
    width: 70px;
}
#cart table td:nth-child(1){
    width: 100px;
    text-align: center;
}
#cart table td:nth-child(2){
    width: 150px;
    text-align: center;
}
#cart table td:nth-child(3){
    width: 250px;
    text-align: center;
}
#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6){
    width: 250px;
    text-align: center;
}
#cart table td:nth-child(5) input{
    width: 70px;
    padding: 10px 5px 10px 15px;
}
#cart table thead{
    border: 1px solid rgb(140, 138, 138);
    border-left: none;
    border-right: none;
}
#cart table thead td{
    font-weight: 550;
    font-size: 15px;
    text-transform: uppercase;
    padding: 18px;
}
#cart table tbody tr td{
    padding-top: 15px;
}
#cart table tbody td{
    font-size: 13px;
}
#cart table td button{
    text-decoration: none;
    background-color: #ffffff;
    border: none;
    color: #49a5a2;
    cursor: pointer;
}
#cart table td button:hover{
    color: #81a9a7;
}

/* cart-add */
#cart-add{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#coupon{
    width: 50%;
    margin-bottom: 30px;
}
#coupon h3{
    padding-bottom: 15px;
}
#coupon input{
    padding: 10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid rgb(175, 175, 175);
}
#coupon button{
    background-color: #49a5a2;
    padding: 12px 20px;
    color: aliceblue;
    border:1px solid #6e6e6e;
}
#coupon button:hover{
    border: 1px solid white;
}
#subtotal{
    border: 1px solid rgb(177, 175, 175);
    width: 50%;
    margin-bottom: 30px;
    padding: 30px;
}
#subtotal table{
    margin-bottom: 20px;
    border-collapse: collapse;  
    width: 100%;
}
#subtotal table td{
    width: 50%;
    border: 1px solid rgb(177, 175, 175);
    padding: 10px;
    font-size: 13px;

}
#subtotal h3{
    padding-bottom: 15px;
    display: flex;
}
#subtotal h3 span{
    align-content: center;
    font-size: 12px;
    /* background-color: #49a5a2; */
    margin-left: 5px;
}

#subtotal button{
    background-color: #49a5a2;
    border:1px solid #6e6e6e;
    color: #ffffff;
}
#subtotal button:hover{
    border:1px solid #ffffff;
}
